.container {
    position: relative;
  }
.background{
    background-color: palevioletred;
}
.h1{
    text-align: center;
    color: yellow;
}

.chat{
    border-radius: 10px;
    height: 500px;
    overflow-y: scroll ;
}
.Container{
    padding: 5%;
}
.bottom{
    margin-top: 10px;
    margin-left: 50%;
    height: 50px;
}
.send{
    color: orange;
    background-color: rgb(185, 65, 185);
    margin-left: 10px;
    border-radius: 10%;
    height: 55px;
    width: 60px;
}
.chatbox{
    border: red;
    border-radius: 10px;
    height: 50px;
    width: 40%;
    text-align: center;
}
.bot{
    background-color: rgb(155, 192, 22);
    margin-left: 30px;
    width: 20%;
    padding: 10px 30px;

}
.user{
    display: grid;
    grid-template-columns: 75% 5% 20%;
    text-align: right;
    margin-right: 30px;
}
.name{
    text-align: center;
    width: 5%;
}
.h3{
    background-color: red;
    padding: 10px 30px;
}